@tailwind base;
@tailwind components;
@tailwind utilities;

.apply-bachgroun-image{
  background-image: url('https://img.freepik.com/free-photo/male-entrepreneur-using-computer-while-working-office_637285-8680.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
 
}
.college-banner{
  background: url('https://wallpaperaccess.com/full/1209519.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

