@tailwind base;
@tailwind components;
@tailwind utilities;

.apply-bachgroun-image{
  background-image: url('https://img.freepik.com/free-photo/male-entrepreneur-using-computer-while-working-office_637285-8680.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
 
}
.college-banner{
  background: url('https://images.unsplash.com/photo-1602536422218-2009cae49eaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmV3JTIweW9yayUyMHVuaXZlcnNpdHl8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

